@media (min-width:1367px) and (max-width:1440px){
    html{
        font-size:85%;
    }
}
@media (width:1366px) and (height:768px){
    html{
        font-size:85%;
    }
    .coffee{
        top:19%;
        width:26%;
    }
}
@media (min-width:1163px) and (max-width:1365px){
    html{
        font-size: 70%;
    }
    .coffee{
        width:29%;
    }
    .blue-circle{
        margin:3rem 0 0 3rem;
    }
    .leaf-pic{
        width:48%;
        right:0;
    }
    .branches-part{
        margin-bottom:7rem;
    }
}
@media (min-width:1025px) and (max-width:1162px){
    html{
        font-size:65%;
    }
    .italic-title h1{
        font-size:80px;
        letter-spacing:2px;
    }
    .coffee{
        top:24%;
        width:25%;
    }
    .drk_coffee_paracontainer img{
        height:50vh;
        margin-left:.5rem;
    }
    .cold_coffee_paracontainer_img img{
        height:50vh;
    }
    .hot_coffee_paracontainer img{
        height:50vh;
        margin-left:-.5rem;
    }
    .dark-hot-coffees-para{
        width:308px;
    }
    .cold-coffees-para{
        width:378px;
    }
    .blue-circle{
        margin:2rem 0 0 3rem;
        width:65%;
    }
    .blue-circle h1{
        font-size:50px;
    }
    .leaf-pic{
        top:80%;
        right:0;
    }
    .voucher-desc .paragraph{
        width:430px;
    }
    .cup-of-coffee{
        width:75%;
        height:auto;
        padding-top:0;
    }
    .cup-of-coffee h1{
        font-size:25px !important;
    }
    .about-us-page{
        height:auto;
    }
    .days-block{
        height:172px;
    }
    .city-bubble{
        height:45px;
        max-width: 175px;
    }
    .city-bubble::after{
        left:11%;
    }
    .city-desc{
        height:145px;
    }
    .bottom-part{
        height:auto;
    }
    .footer-navbar{
        word-spacing: 30px;
    }
}
@media(width:1024px) and (height:768px){
    html{
        font-size:65%;
    }
    .homepage{
        height:48vh;
    }
    .italic-title h1{
        font-size:80px;
        letter-spacing:2px;
    }
    .coffee{
        top:19%;
        width:22%;
    }
    .drk_coffee_paracontainer img{
        height:50vh;
        margin-left:.5rem;
    }
    .cold_coffee_paracontainer_img img{
        height:50vh;
    }
    .hot_coffee_paracontainer img{
        height:50vh;
        margin-left:-.5rem;
    }
    .dark-hot-coffees-para{
        width:308px;
    }
    .cold-coffees-para{
        width:378px;
    }
    .blue-circle{
        margin:2rem 0 0 3rem;
        width:65%;
    }
    .blue-circle h1{
        font-size:50px;
    }
    .leaf-pic{
        top:80%;
        right:0;
    }
    .voucher-desc .paragraph{
        width:430px;
    }
    .cup-of-coffee{
        width:75%;
        height:auto;
        padding-top:0;
    }
    .cup-of-coffee h1{
        font-size:25px !important;
    }
    .about-us-page{
        height:auto;
    }
    .days-block{
        height:172px;
    }
    .city-bubble{
        height:45px;
        max-width: 175px;
    }
    .city-bubble::after{
        left:11%;
    }
    .city-desc{
        height:145px;
    }
    .bottom-part{
        height:auto;
    }
    .footer-navbar{
        word-spacing: 30px;
    }
}
@media (min-width:768px) and (max-width:1023px){
    html{
        font-size:65%;
    }
    .italic-title h1{
        font-size:85px;
        letter-spacing:2px;
    }
    .logo h1{
        color:black;    
    }
    .navbar, .logo{
        padding-top:2rem;
    }
    .order-btn{
        width:180px;
        height:43px;
    }
    .coffee{
        top:25%;
        width:30%;
    }
    .cold-coffees-para,.dark-hot-coffees-para{
        width:235px;
    }
    .drk_coffee_paracontainer img{
        margin-left:0;
        height:55vh;
    }
    .cold_coffee_paracontainer_img img{
        height:56vh;
    }
    .hot_coffee_paracontainer img{
        height:56vh;
    }
    .cold-coffee-type .italic-title h1{      
        font-size:46px !important;      
    }
    .coffee-type .italic-title h1{
        font-size:46px !important;
    }
    .voucher-border-box{
        width:95%;
        padding:1rem;
        height:auto;
    }
    .blue-circle{
        width:50%;
        height:auto;
        margin:0;
    }
    .blue-circle h1{
        font-size:38px;
    }
    .leaf-pic{
        right:0;
        max-width:22%;
        right:31%;
        top:52%;
    }
    .voucher-desc{
        align-items: flex-start;
    }
    .voucher-desc h1{
        letter-spacing:2px;
        font-size:45px;
    }
    .voucher-desc .paragraph{
        margin:0.8rem 0 2.8rem 0;
        width:320px !important;
    } 
    .cup-of-coffee{
        width:70%;
        height:auto;
        padding-top:0;
    }
    .cup-of-coffee h1{
        font-size:20px !important;
    }
    .days-block{
        height:158px;
        width:500px;
    }
    .branches-part{
        margin-bottom:7rem;
    }
    .city-desc{
        height:150px;
    }
    .city-bubble{
        height:47px;
        max-width: 175px;
    }
    .city-bubble::after{
        left:11%;
    }
    .bottom-part{
        padding-top:1.875rem;
        height:auto;
    }
    .social-media{
        letter-spacing:1rem;
        right:50px;
    }
   .footer-navbar{
       word-spacing: 20px;
   }
}
@media (min-width:530px) and (max-width:767px) {
    html{
        font-size:72%;
    }
    .italic-title h1{
        font-size:70px;
        letter-spacing:4px;
    }
    .homepage{
        height:62vh;
    }
    #hamburger-menu{
        margin-top:0rem !important;
    }
    .logo{
        display:none;
    }
    .navbar{
        padding-top:0.5rem;
        padding-bottom:2.5rem;
        top:0;
        left:-6px;
        right:-7px;
        position:fixed;
        z-index:100;
        height:60px;
        border:5px solid #ded0be;
        background:#ded0be;
        min-width:100%;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    .top-navbar{
        margin-top:15px;
    }
    .nav-items{
        background: #ded0be;
        top:60px;
        width:100%;
        text-align: right;
    }
    .pg-content{
        margin-top:5rem;
        text-align:center;
    }
    .order-btn{
        width:155px;
        height:33px;
        letter-spacing:2px;
    }
    .coffee-type .italic-title h1{
        color:white !important;
        float:left;
        width:100%;
        font-size:46px;
    }
    .coffee-type .order-btn{
        align-items:center;
        text-align:center;
    }
    .cold-coffee-type .italic-title h1{
        color:white !important;
        float:left;
        width:100%;
        font-size:46px;
        margin-bottom:3rem;
    }
    .cold-coffee-type .order-btn{
        align-items:center;
        text-align:center;
    }
    h1 br{        
        display:none;
    }
    .coffee-page{
        background:#122341;
        height:50vh;
        margin-bottom:2rem;
    }
    .coffee{
        width:20%;
        height:auto;
        left:84%;
        top:11px;
    }
    .coffee-type{
        justify-content:center;
        align-items:center;
    }
    .cold-coffee-type{
        text-align: center;
    }
    .coffee-page .homepage-container .row .cold_coffee_paracontainer, .coffee-page .homepage-container .row .cold-coffee-type {
        top: 3%;
        right:0;
        position: absolute;
    }
    .coffee_bg{
        display:none;
    }
    .hot_coffee_paracontainer{
        width: 100%;
    }
    .dark-hot-coffees-para{
        text-align: justify;
        font-size:8px;
        width: 98%;
        margin-top:7rem;
    }
    .cold-coffees-para{
        margin-top:15rem;
        font-size:8px;
        width:100%;
        text-align:justify;
    }
    .gift-images{
        display:grid;
        place-items: center;
    }
    .voucher-border-box{
        width:95%;
        padding:1rem;

        height:auto;
    }
    .blue-circle{
        width:50%;
        height:auto;
        margin:0;
    }
    .blue-circle h1{
        font-size:50px;
    }
    .leaf-pic{
        right:0;
        max-width:22%;
        right:3%;
        top:52%;
    }
    .voucher-desc{
        align-items: center;
    }
    .voucher-desc h1{
        letter-spacing:2px;
        font-size:45px;
    } 
    .cup-of-coffee{
        width:50%;
        height:auto;
        padding-top:0;
    }
    .cup-of-coffee h1{
        font-size:20px !important;
    }
    .about-us-page{
        height:auto;
        margin:2rem 0 1rem 0;
    }
    .about-us-para{
        padding:0;
    }
    .testimonials{
        border:13px solid #000b2c;
    }
    .customer{
        padding:0;
    }
    .days-block{
        margin-bottom: 2rem;
        height:150px;
        width:440px;
    }
    .branches-part{
        margin-bottom:5rem;
    }
    .cities{
        margin-bottom:2rem;
    }
    .city-bubble{
        max-width:173px;
        height:36px;
    }
    .city-bubble::after{
        left:11%;
    }
    .city-desc{
        height:160px;
    }
    .bottom-part{
        padding-top:1.875rem;
        height:auto;
    }
    .social-media{
        letter-spacing:1rem;
        right:0;
    }
    .footer-navbar{
       display:none;
    }
}
 @media (min-width:424px) and (max-width:529px){
    html{
        font-size:69%;
    }
    .italic-title h1{
        font-size:70px;
        letter-spacing:4px;
    }
    .homepage{
        height:75vh;
    }
    #hamburger-menu{
        margin-top:-1rem;
    }
    .logo h1{
        color:black;
    }
    .logo{
        margin-top:-13rem;
    }
    .navbar{
        padding-top:0rem;
        padding-bottom:1.5rem;
        top:0;
        left:0;
        position:fixed;
        z-index:100;
        height:60px;
        border:1px solid #fefbfa;
        background:#ded0be;
        min-width:100%;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    .top-navbar{
        margin-top:15px;
    }   
    .nav-items{
        background: #ded0be;
        top:60px;
        width:100%;
        text-align: right;
    }
    .pg-content{
        margin-top:5rem;
        text-align:center;
    }
    .order-btn{
        width:150px;
        height:29px;
        letter-spacing:2px;
    }
    .coffee-type .italic-title h1{
        color:white !important;
        float:left;
        width:100%;
        font-size:46px;
    }
    .coffee-type .order-btn{
        align-items:center;
        text-align:center;
    }
    .cold-coffee-type .italic-title h1{
        color:white !important;
        float:left;
        width:100%;
        font-size:46px;
        margin-bottom:3rem;
    }
    .cold-coffee-type .order-btn{
        align-items:center;
        text-align:center;
    }
    h1 br{       
        display:none;
    }
    .coffee-page{
        background:#122341;
        height:50vh;
        margin-bottom:2rem;
    }
    .coffee{
        width:28%;
        height:auto;
        left:84%;
        top:11px;
    }
    .coffee-type{
        justify-content:center;
        align-items:center;
    }
    .cold-coffee-type{
        text-align: center;
    }
    .coffee-page .homepage-container .row .cold_coffee_paracontainer, .coffee-page .homepage-container .row .cold-coffee-type {
        top: 3%;
        right:0;
        position: absolute;
    }
    .coffee_bg{
        display:none;
    }
    .hot_coffee_paracontainer{
        width: 100%;
    }
    .dark-hot-coffees-para{
        text-align: justify;
        font-size:8px;
        width: 97%;
        left:.5rem;
        margin-top:7rem;
    }
    .cold-coffees-para{
        margin-top:15rem;
        font-size:8px;
        width:100%;
        text-align:justify;
    }
    .voucher-border-box{
        width:95%;
        padding:1rem;
        height:auto;
    }
    .blue-circle{
        width:100%;
        height:auto;
        margin:0;
    }
    .blue-circle h1{
        font-size:50px;
    }
    .leaf-pic{
        right:0;
        max-width:22%;
        top:94%;
    }
    .voucher-desc h1{
        letter-spacing:2px;
        font-size:45px;
    }
    .voucher-desc .paragraph{
        display:none;
    }  
    .cup-of-coffee{
        width:80%;
        height:auto;
        padding-top:0;
    }
    .cup-of-coffee h1{
        font-size:20px !important;
    }
    .about-us-page{
        height:auto;
        margin:2rem 0 1rem 0;
        padding-bottom:1rem;
    }
    .about-us-para{
        padding:0;
    }
    .testimonials{
        border:13px solid #000b2c;
    }
    .customer{
        padding:0;
    }
    .days-block{
        width:100%;
        margin-bottom: 2rem;
        height:200px;
    }
    .branches-part{
        margin-bottom:5rem;
    }
    .cities{
        margin-bottom:2rem;
    }
    .city-bubble{
        max-width:173px;
        height:36px;
    }
    .city-bubble::after{
        left:11%;
    }
    .city-desc{
        height:160px;
    }
    .bottom-part{
        padding-top:1.875rem;
        height:auto;
    }
    .social-media{
        letter-spacing:1rem;
        right:15px;
    }
    .footer-navbar{
       display:none;
    }
} 
@media (min-width:376px) and (max-width:423px){
    html{
        font-size:69%;
    }
    .italic-title h1{
        font-size:62px;
        letter-spacing:4px;
        margin-bottom:1rem;
    }
    .homepage{
        height:70vh;
    }
    #hamburger-menu{
        margin-top:-1rem;
    }
    .logo h1{
        color:black;

    }
    .logo{
        margin-top:-13rem;
    }
    .navbar{
        padding-top:0rem;
        padding-bottom:1.5rem;
        top:0;
        left:0;
        position:fixed;
        z-index:100;
        height:60px;
        border:1px solid #fefbfa;
        background:#ded0be;
        min-width:100%;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
    .top-navbar{
        margin-top:15px;
    }
    .nav-items{
        background: #ded0be;
        top:60px;
        width:100%;
        text-align: right;
    }
    .pg-content{
        margin-top:5rem;
    }
    .pg-content .paragraph{
        width:375px;
    }
    .order-btn{
        width:125px;
        height:28px;
        letter-spacing:2px;
    }
    .coffee-type .italic-title h1{
        color:white !important;
        float:left;
        width:100%;
        font-size:46px;
    }
    .coffee-type .order-btn{
        align-items:center;
        text-align:center;
    }
    .cold-coffee-type .italic-title h1{
        color:white !important;
        float:left;
        width:100%;
        font-size:46px;
        margin-bottom:3rem;
    }
    .cold-coffee-type .order-btn{
        align-items:center;
        text-align:center;
    }
    h1 br{
        
        display:none;
    }
    .coffee-page{
        background:#122341;
        height:50vh;
        margin-bottom:2rem;
    }
    .coffee{
        width:25%;
        height:auto;
        left:84%;
        top:40px;
    }
    .coffee-type{
        justify-content:center;
        align-items:center;

    }
    .cold-coffee-type{
        text-align: center;

    }
    .coffee-page .homepage-container .row .cold_coffee_paracontainer, .coffee-page .homepage-container .row .cold-coffee-type {
        top: 3%;
        right:0;
        position: absolute;
    }
    .coffee_bg{
        display:none;
    }
    .hot_coffee_paracontainer{
        width: 100%;
    }
    .dark-hot-coffees-para{
        text-align: justify;
        font-size:8px;
        width: 96%;
        left:1rem;
        margin-top:7rem;
    }
    .cold-coffees-para{
        margin-top:14rem;
        font-size:8px;
        width:100%;
        text-align:justify;

    }
    .voucher-border-box{
        width:95%;
        padding:1rem;
        height:auto;
    }
    .blue-circle{
        width:100%;
        height:auto;
        margin:0 0 2rem 0;
    }
    .blue-circle h1{
        font-size:50px;
    }
    .leaf-pic{
        right:0;
        max-width:22%;
        top:73%;
    }
    .voucher-desc h1{
        letter-spacing:2px;
        font-size:45px;
    }
    .voucher-desc .paragraph{
        display:none;
    }
   
    .cup-of-coffee{
        width:80%;
        height:auto;
        padding-top:0;
    }
    .cup-of-coffee h1{
        font-size:20px !important;
    }
    .about-us-page{
        height:auto;
        margin:2rem 0 1rem 0;
        padding-bottom:1rem;
    }
    .about-us-para{
        padding:0;
        text-align:justify;
    }

    .testimonials{
        border:13px solid #000b2c;
    }
    .customer{
        padding:0;
    }
    .customer p{
        text-align:justify;    
    }
    .days-block{
        width:100%;
        margin-bottom: 2rem;
        height:200px;
    }
    .branches-part{
        margin-bottom:5rem;
    }
    .cities{
        margin-bottom:2rem;
    }
    .city-bubble{
        max-width:163px;
        height:32px;
    }
    .city-desc{
        height:134px;
    }
    .bottom-part{
        padding-top:1.875rem;
        padding-bottom: 1rem;
        height:auto;
    }
    .social-media{
        letter-spacing:1rem;
        right:15px;
        bottom:1rem;
    }
    .footer-navbar{
       display:none;
    }
}
@media (max-width:375px){
    html{
        font-size:69%;
    }
    .italic-title h1{
        font-size:58px;
        letter-spacing:4px;
    }
    .homepage{
        height:70vh;
    }
    #hamburger-menu{
        margin-top:-1rem;
    }
    .logo{
        display:none;
    }
    .navbar{
        padding-bottom:1.5rem;
        padding-top:0rem;
        top:0;
        left:0;
        position:fixed;
        z-index:100;
        height:60px;
        border:1px solid #fefbfa;
        background:#ded0be;
        min-width:100%;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    }
    .top-navbar{
        margin-top:15px;
    }
    .nav-items{
        background: #ded0be;
        top:60px;
        width:100%;
        text-align: right;
    }
    .pg-content{
        margin-top:5rem;
    }
    .pg-content .paragraph{
        width:343px;
    }
    .order-btn{
        width:125px;
        height:28px;
        letter-spacing:2px;
    }
    .coffee-type .italic-title h1{
        color:white !important;
        float:left;
        width:100%;
        font-size:46px;
    }
    .coffee-type .order-btn{
        align-items:center;
        text-align:center;
    }
    .cold-coffee-type .italic-title h1{
        color:white !important;
        float:left;
        width:100%;
        font-size:46px;
        margin-bottom:3rem;
    }
    .cold-coffee-type .order-btn{
        align-items:center;
        text-align:center;
    }
    h1 br{       
        display:none;
    }
    .coffee-page{
        background:#122341;
        height:50vh;
        margin-bottom:2rem;
    }
    .coffee{
        width:28%;
        height:auto;
        left:84%;
        top:46px;
    }
    .coffee-type{
        justify-content:center;
        align-items:center;

    }
    .cold-coffee-type{
        text-align: center;

    }
    .coffee-page .homepage-container .row .cold_coffee_paracontainer, .coffee-page .homepage-container .row .cold-coffee-type {
        top: 3%;
        right:0;
        position: absolute;
    }
    .coffee_bg{
        display:none;
    }
    .hot_coffee_paracontainer{
        width: 100%;
    }
    .dark-hot-coffees-para{
        text-align: justify;
        font-size:8px;
        width: 94%;
        margin-top:7rem;
        left:1rem;
    }
    .cold-coffees-para{
        margin-top:13rem;
        font-size:8px;
        width:99%;
        text-align:justify;

    }
    .voucher-border-box{
        width:95%;
        padding:1rem;
        height:auto;
    }
    .blue-circle{
        width:100%;
        height:auto;
        margin:0 0 2rem 0;
    }
    .blue-circle h1{
        font-size:50px;
    }
    .leaf-pic{
        right:0;
        max-width:22%;
        top:73%;
    }
    .voucher-desc h1{
        letter-spacing:2px;
        font-size:37px;
    }
    .voucher-desc .paragraph{
        display:none;
    }
  
    .cup-of-coffee{
        width:80%;
        height:auto;
        padding-top:0;
    }
    .cup-of-coffee h1{
        font-size:20px !important;
    }
    .about-us-page{
        height:auto;
        margin:2rem 0 1rem 0;
        padding-bottom:1rem;
    }
    .about-us-para{
        padding:0;
        text-align: justify;
    }
    .testimonials{
        border:13px solid #000b2c;
    }
    .customer{
        padding:0;
        margin-top:1rem;
    }
    .customer p{
        text-align:justify;    
    }
    .days-block{
        width:100%;
        margin-bottom: 2rem;
        height:200px;
    }
    .branches-part{
        margin-bottom:3rem;
    }
    .cities{
        margin-bottom:2rem;
    }
    .city-bubble{
        max-width:163px;
        height:32px;
    }
    .city-desc{
        height:134px;
    }
    .bottom-part{
        padding-top:1.875rem;
        padding-bottom:1rem;
        height:auto;
    }
    .social-media{
        letter-spacing:.5rem;
        right:15px;
        bottom:1rem;
    }
    .footer-navbar{
       display:none;
    }
}