@media (min-width:1441px) and (max-width:1800px){
    html{
        font-size:63%;
        width:100%;
        overflow-x: hidden;
    }
    .logo{
        margin-right:14.5rem;
    }
    .dark-hot-coffees-para, .cold-coffees-para{
        width:60%;
    }
    .voucher-border-box{
        height:auto;
    }
    .blue-circle{
        margin:4rem 0 0 4rem;
    }
    .voucher-desc .italic-title h1{
        font-size:10rem;
        margin-bottom:1.3rem;
    }
    .cup-of-coffee{
        width:70%;
        height:60px;
    }
    .cup-of-coffee h1{
        font-size:3.5rem;
        letter-spacing: 1px;
    }
}
/* Mostly for 1440*900px-laptop with hidpi */
@media (min-width:1331px) and (max-width:1440px){
    html{
        font-size:62%;
        width:100%;
        overflow-x: hidden;
    }
    .logo{
        padding-top:14rem;
        margin-right:15rem;
        
    }
    .top-navbar, .pg-content{
        margin-left:8rem;
    }
    .navbar{
        padding-top:15rem;
    }
    .coffee-page .row{
        margin-left: 8rem;
    }
    .coffee-page .row .cold-coffee-type {
        transform: translateX(-8rem);
    }
    .coffee, .cold-coffee-img{
        width:32%;
    }
    .dark-hot-coffees-para, .cold-coffees-para{
        width:60%;
    }
    .cold_coffee_paracontainer_img img {
        width: 62vw;
    }
    .cities-margin{
        padding:10px 30px;
    }
    
    .voucher-border-box{
        height:auto;
        margin:5rem 10rem 5rem 8rem;
    }
    .blue-circle{
        margin:4rem 0 0 4rem;
    }
   
    .voucher-desc .italic-title h1{
        font-size:10rem;
        margin-bottom:1.3rem;
    }
    .cup-of-coffee{
        width:70%;
        height:60px;
    }
    .cup-of-coffee h1{
        font-size:3.5rem;
        letter-spacing: 1px;
    }
    .bottom-part .row{
        margin: 0 10rem 0 10rem;
    }
}
/* Normally for 1280*950px laptop */
@media screen and (min-width:1201px) and (max-width:1330px){
    html{
        font-size:60%;
        width:100%;
        overflow-x: hidden;
        
    }
    .logo{
        padding-top:14rem;
        margin-right:15rem;
    }
    .top-navbar{
        margin-left:7rem;
    }
    
    .pg-content{
        margin-left:7rem;
    }
    .homepage .homepage-content .pg-content .paragraph{
        width:480px;
    }
    .navbar .collapse .top-navbar .nav-items .nav-item {
        padding-right:6.5rem;
    }
    .coffee,.cold-coffee-img{
        width:32%;
    }
    .coffee-page .row {
        margin-left: 7rem;
    }
    .coffee-page  .row .cold-coffee-type {
        right: -3%;
        transform: translateX(-16%);
    }
    .dark-hot-coffees-para{
        width:61%;
        margin-right:8rem;       
    }
    .cold-coffees-para{
        width:59.3%;
    }
    .cold_coffee_paracontainer_img img{
        width:60.9vw;
        max-width:60.9vw;
        height:558px;
    }

    .drk_coffee_paracontainer img {
        height: 558px;
        min-width: 61.5vw;
    }
    .hot_coffee_paracontainer img{
        width:46.5vw;
        height:558px;
        max-width: 54vw;
    }
    .voucher-border-box{
        height:auto;
        margin:5rem 8rem 5rem 7rem;
    }
    .blue-circle{
        margin:4rem 0 0 4rem;
    }
   
    .voucher-desc .italic-title h1{
        font-size:10rem;
        margin-bottom:1.3rem;
    }
    .cup-of-coffee{
        width:70%;
        height:60px;
    }
    .cup-of-coffee h1{
        font-size:3.5rem;
        letter-spacing: 1px;
    }
    .about-us-page{
        margin:7rem 8rem 0 7rem;
    }
    .testimonials{
        margin:0 8rem 0 7rem;
    }
    .branches-part{
        margin:0 8rem 0 7rem;
    }
    .cities-margin{
        padding:10px 20px 10px 20px;
    }
 
    .city-bubble{
        max-width: 216px;
        height:53px;
    }
    .city-bubble h1{
        font-size:3.1rem;

    }
    .city-bubble::after{
        left:11%;
    }
    .city-desc p{
        margin-bottom:0;
    }
    .bottom-part .row{
        margin:0 8rem 0 7rem;
    }
    .social-media{
        letter-spacing:2rem;
    }
    .footer-navbar{
        word-spacing: 2.5rem;
    }
    .middle-footer p{
        margin-bottom:0rem;
    }
    .bottom-footer h5{
        margin-top:3rem;
    }
}
@media (min-width:1139px) and (max-width:1200px){
    html{
        font-size:60%;
        width:100%;
        overflow-x: hidden;
    }
    .logo{
        padding-top:15rem;
        margin-right:13rem;
    }
    .navbar{
        padding-top:14rem;
    }
    .top-navbar, .pg-content{
        margin-left:7rem;
    }
    .navbar .collapse .top-navbar .nav-items .nav-item {
        padding-right:6.5rem;
    }
    .homepage .homepage-content .pg-content .paragraph{
        width:480px;
    }
    .homepage .homepage-content .pg-content .paragraph p{
        font-size:2rem;
    }
    .quote{
        font-size:3.5rem;
        font-weight: 400;
    }
    .coffee-page .row{
        margin-left:7rem;
    }
    .drk_coffee_paracontainer img{
        height:558px;
    }
    .hot_coffee_paracontainer img {
        height: 558px;
    }
    .dark-hot-coffees-para{
        width:59%;
        margin-right:8rem;   
    }
    .cold-coffees-para{
        width:59%;
    }
    .coffee{
        width:32%;
    }
    .cold-coffee-img{
        width:32%;
    }
    .coffee-page  .row .cold-coffee-type {
        right: -2%;
        transform: translateX(-14%);
    }
    .cold_coffee_paracontainer_img img{
        width:61.3vw;
        height:558px;
        max-width:62.6vw;
    }
    .voucher-border-box{
        height:auto;
        margin:5rem 8rem 5rem 7rem;
    }
    .blue-circle{
        width:343px;
        height:343px;
        margin:4rem 0 0 4rem;
    }
    .voucher-desc .italic-title h1{
        font-size:9rem;
        margin-bottom:1.3rem;
    }
    .cup-of-coffee{
        width:70%;
        height:60px;
    }
    .cup-of-coffee h1{
        font-size:3.5rem;
        letter-spacing: 1px;
    }
    .about-us-page{
        margin:7rem 8rem 0 7rem;
    }
    .about-us-para{
        padding: 0 10rem 3rem 10rem;
    }
    .testimonials{
        margin: 0 8rem 0 7rem;
    }
    .branches-part{
        margin: 0 8rem 0 7rem;
    }
    .cities-margin{
        padding:30px;
    }
    .city-bubble{
        max-width: 216px;
        height:53px;
    }
    .city-bubble::after{
        left:11%;
        margin-left:-19px;
    }
    .city-bubble h1{
        font-size:3.1rem;
    }
    .bottom-part .row{
        margin: 0 8rem 0 7rem;
    }
    .social-media{
        letter-spacing:1.4rem;
    }
    .footer-navbar{
        word-spacing: 1.5rem;
    }
    .middle-footer p{
        margin-bottom:0rem;
    }
    .bottom-footer h5{
        margin-top:3rem;
    }
}
@media (min-width:1074px) and (max-width:1138px){
    html{
        font-size:59%;
        width:100%;
        overflow-x: hidden;
    }
    .logo{
        padding-top:14rem;
        margin-right:14rem;
    }
    
    .top-navbar{
        margin-left:5rem;
    }
    .navbar .collapse .top-navbar .nav-items .nav-item {
        padding-right:5.5rem;
    }

    .pg-content{
        
        margin-left:5rem;
       
    }
    .pg-content .coffee-type h1{
        font-size:18.3rem;
    }
    .homepage .homepage-content .pg-content .paragraph{
        width:480px;
    }
    .homepage .homepage-content .pg-content .paragraph p{
        font-size:2rem;
        font-weight:400;
    }
    .quote{
        font-size:3.5rem;
        font-weight: 400;
    }
    .coffee-page .row{
        margin-left:5rem;
    }
    .coffee-page .coffee-type .italic-title h1, .cold-coffee-type .italic-title h1{
        font-size:11rem;
    }
    .drk_coffee_paracontainer img{
        height:558px;
    }
    .hot_coffee_paracontainer img {
        height: 558px;
    }
    .dark-hot-coffees-para{
        width:60%; 
        margin-right:6rem;  
    }
    .cold-coffees-para{
        width:60%;
    }
    .coffee{
        width:35%;
    }
    .cold-coffee-img{
        width:35%;
    }
    .coffee-page  .row .cold-coffee-type {
        right: -4%;
        transform: translateX(-17%);
    }
    .cold_coffee_paracontainer_img img{
        width:60.4vw;
        height:558px;
        max-width:62.6vw;
    }
    .voucher-border-box{
        height:auto;
        margin:5rem 6rem 5rem 5rem;
    }
    .blue-circle{
        width:340px;
        height:340px;
        margin:4rem 0 0 4rem;
    }
    .voucher-desc{
        padding-right:2rem;
    }
    .voucher-desc .italic-title h1{
        font-size:8rem;
        margin-bottom:1.3rem;
    }
    .voucher-desc .paragraph{
        width:92%;
    }
    .cup-of-coffee{
        width:70%;
        height:60px;
    }
    .cup-of-coffee h1{
        font-size:3.5rem;
        letter-spacing: 1px;
    }
    .about-us-page{
        margin:7rem 6rem 0 5rem;
    }
    .about-us-para{
        padding:0 7rem 3rem 7rem;
    }
    .testimonials{
        margin:0 6rem 0 5rem;
    }
    .customer{
        padding:2rem;
    }
    .customer p{
        text-align:justify;
    }
    .branches-part{
        margin:0 6rem 0 6rem;
    }
    .cities-margin{
        padding:30px;
    }
 
    .city-bubble{
        max-width: 216px;
        height:53px;
    }
    .city-bubble::after{
        left:11%;
        margin-left:-19px;
    }
    .bottom-part .row{
        margin: 0 6rem 0 5rem;
    }
    .social-media{
        letter-spacing:1.3rem;
    }
    .footer-navbar{
        word-spacing: 2rem;
    }
    .middle-footer p{
        margin-bottom:0rem;
    }
    .bottom-footer h5{
        margin-top:3rem;
    }
}

@media (min-width:992px) and (max-width:1073px){
    html{
        font-size:59%;
        width:100%;
        overflow-x: hidden;
    }
    .logo{
        padding-top:14rem;
        margin-right:13rem;
    }
    .navbar{
        padding-top:13rem;
    }
    .top-navbar{
        margin-left:5rem;
    }
    .navbar .collapse .top-navbar .nav-items .nav-item {
        padding-right:3.5rem;
    }
    .pg-content{
        margin-left:5rem;  
    }
    .homepage .homepage-content .pg-content .paragraph p{
        font-size:2rem;
        font-weight:400;
    }
    .quote{
        font-size:3.5rem;
        font-weight: 400;
    }
    .coffee-page .row{
        margin-left:5rem;
    }
    .coffee-page .coffee-type .italic-title h1, .cold-coffee-type .italic-title h1 {
        line-height: 11rem;
        font-size: 10rem;        
        margin-bottom: 2rem;
    }
    .dark-hot-coffees-para{
        width:61.5%; 
        margin-right:6rem;  
    }
    .cold-coffees-para{
        width:62%;
    }
    .coffee, .cold-coffee-img{
        width:34%;
    }
    .coffee-page .row .cold-coffee-type {
        right: -4%;
        transform: translateX(-17%);
    }
    .cold_coffee_paracontainer_img img{
        width:60.3vw;
        height:558px;
        max-width:62vw;
    }
    .voucher-border-box{
        height:auto;
        margin:5rem 6rem 5rem 5rem;

    }
    .blue-circle{
        width:320px;
        height:320px;
        margin:2rem 0 0 2rem;
    }
    .voucher-desc{
        padding-right:2rem;
    } 
    
    .voucher-desc .italic-title h1{
        font-size:8rem;
        margin-bottom:1rem;
    }
    .voucher-desc .paragraph{
        width:92%;
    }
    .cup-of-coffee{
        width:70%;
        height:50px;
        border: 3px solid #df4b0f;
    }
    .cup-of-coffee h1{
        font-size:2.5rem;
        letter-spacing: 1px;
    }
    .about-us-page{
        margin:7rem 6rem 0 5rem;
    }
    .about-us-para{
        padding:0 5rem 3rem 5rem;
    }
    .testimonials{
        margin:0 6rem 0 5rem;
    }
    .customer{
        padding:1rem;
    }
    .customer p{
        text-align:justify;
    }
    .days-block{
        width:728px;
        height:220px;
    }
    .branches-part{
        margin: 0 6rem 0 5rem;
    }
    .cities-margin{
        padding:25px;
    }
    .bottom-part .row{
        margin: 0 6rem 0 5rem;
    }
        .social-media{
        letter-spacing:1.2rem;
    }
    .footer-navbar{
        word-spacing: 1.5rem;
    }
    .middle-footer p{
        margin-bottom:0rem;
    }
    .bottom-footer h5{
        margin-top:3rem;
    }
}
@media (min-width:768px) and (max-width:991px){
    html{
        font-size:58%;
        width:100%;
        overflow-x: hidden;       
    }
    .italic-title h1{
        font-size:9rem;
    }
    .order-btn{
        width:215px;
        height:50px;
    }
    .order-btn h1{
        font-size:3.2rem;
    }
    .homepage{
        background: linear-gradient(to bottom, hsla(0, 54%, 27%, 0.2), hsla(43, 4%, 69%, 0.1)), url('../img/homepage_background.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
    .logo{
        display:none;
    }
    .navbar{
        padding-top:7rem;
    }
    .top-navbar{
        margin-left:4rem;
    }
    .navbar .collapse .top-navbar .nav-items .nav-item {
        padding-right:5rem;
    }
    .pg-content{
        margin-left:4rem;  
    }
    .pg-content .coffee-type h1{
        margin-bottom:5.8rem;
    }
    .homepage .homepage-content .pg-content .paragraph p{
        font-size:2rem;
        font-weight:400;
    }
    .homepage .homepage-content .pg-content .paragraph{
        width:100%;
    }
    .quote{
        font-size:3.5rem;
        font-weight: 400;
    }
    .coffee-page .row{
        margin-left:4rem;
    }
    .coffee-page .coffee-type .italic-title h1, .cold-coffee-type .italic-title h1 {
        line-height: 9rem;
        font-size: 8.5rem;        
        margin-bottom: 1rem;
    }
    .dark-hot-coffees-para{
        width:62.5%; 
        margin-right:5rem;  
        font-size: 1.6rem;
        letter-spacing:0.8px;
        line-height: 2.5rem;
    }
    .cold-coffees-para{
        width:62.5%;
        font-size:1.6rem;
        letter-spacing:0.8px;
        line-height:2.5rem;
    }
    .coffee, .cold-coffee-img{
        width:35%;
    }
    .coffee-page .row .cold-coffee-type {
        right: -4%;
        transform: translateX(-17%);
    }
    .cold_coffee_paracontainer_img img{
        width:60.3vw;
        height:558px;
        max-width:62vw;
    }
    .drk_coffee_paracontainer img{
        height:558px;
        
    }
    .hot_coffee_paracontainer img{
        height:558px;
    }
    .voucher-border-box{
        height:auto;
        margin:5rem 5rem 5rem 4rem;
    }
    .gift-images{
        align-items:center;
    }
    .blue-circle{
        width:320px;
        height:320px;
        margin:2rem 0 0 2rem;
    }
    .blue-circle h1{
        font-size:9.5rem;
        margin-top:2rem;
    }
    .voucher-desc{
        padding-right:0;
    } 
    
    .voucher-desc .italic-title h1{
        font-size:9.5rem;
        margin-bottom:1rem;
    }
    .voucher-desc .paragraph{
        width:92%;
    }
    .cup-of-coffee{
        width:66%;
        height:70px;
        border: 3px solid #df4b0f;
    }
    .cup-of-coffee h1{
        font-size:3.5rem;
        letter-spacing: 3px;
    }
    .about-us-page{
        margin:7rem 5rem 0 5rem;
    }
    .about-us-para{
        padding:0 5rem 3rem 5rem;
        text-align:justify;
    }
    .testimonials{
        margin:0 5rem 0 4rem;
    }
    .customer{
        padding:1rem;
    }
    .customer p{
        text-align:justify;
    }
    .days-block{
        width:635px;
        height:205px;
    }
    .days-block h1{
        font-size:4.5rem;
    }
    .branches-part{
        margin:0 5rem 0 5rem;
    }
    .cities-margin{
        padding:0 5px 20px 5px;
    }
    .city-bubble{
        max-width: 200px;
        height:48px;
    }
    .city-bubble h1{
        font-size:3.1rem;
    }
    .city-bubble::after{
        left:11%;
    }
    .bottom-part .row{
        margin: 0 5rem 0 4rem;
    }
    .left-footer .img-logo{
        width:60px;
        height:70px;
        margin-right: 1rem;
    }
    .social-media{
        letter-spacing:1.5rem;
        bottom:1.5rem;
    }
    .footer-navbar{
        word-spacing: 2rem;
    }
    .middle-footer h2, .bottom-footer h2{
        font-size:2.5rem;
        padding-bottom: 1rem;
    }
    .middle-footer p{
        margin-bottom:1rem;
    }
}
@media (min-width:628px) and (max-width:767px){
    html{
        font-size:55%;
        width:100%;
        overflow-x: hidden;
    }
    .logo{
        display:none;
    }
    .italic-title h1{
        font-size:9rem;
    }
    .order-btn{
        width:215px;
        height:50px;
    }
    .order-btn h1{
        font-size:3.2rem;
    }
    .homepage{
        background: linear-gradient(to bottom, hsla(0, 54%, 27%, 0.2), hsla(40, 1%, 55%, 0.1)), url('../img/homepage_background.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        height:auto;
    }
    .paragraph{
        width:100%;
        text-align:left;
    }
    .paragraph p{
        font-weight: 400;
    }
    .pg-content{
        margin-top:0;
        position:static;
        padding-bottom: 5rem;
        padding-top:18rem;
        margin-left:4rem;
    }
    .pg-content .italic-title h1{
        text-align:center;
    }
    .navbar{
        position:fixed;
        background:#122341;
        z-index: 10;
        width:100%;
        left:0;
        padding-top:0;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler{
        font-size:2.25rem;
        width:100%;
        text-align:left;
        height:80px;
    }
    .nav-items{
        float:right;
        text-align:right;
    }
    #hamburger_menu{
        line-height:4rem;
        color:white;
    }
    .navbar .top-navbar .nav-items .nav-item{
        font-size:2.5rem;
        letter-spacing:1.12px;
    }
    .navbar .top-navbar .nav-items .nav-item a {
        color: white;
    }
    .quote{
        font-weight: normal;
        line-height: 35px;
    }
    .order-btn{
        width:27%;
        height:40px;
        letter-spacing:.2rem;
    }
    .order-btn h1{
        font-size:2.5rem;
    }
    .coffee-type .italic-title{
        text-align:center;
        margin-bottom:0rem;
        margin-top:1rem;
    }
    .item{
        display:table;
    }
    .coffee-type .italic-title h1 br, .cold-coffee-type .italic-title h1 br{
        display:none;
    }
    .coffee-page .row{
        margin-left:0;
        padding-top:3rem;
    }
    .coffee_bg{
        display:none;
    }
    .coffee, .cold-coffee-img{
        width:31%;
    }
    .coffee{
        left:0;
        transform:translateX(10%);
    }
    .cold-coffee-img{
        left:50%;
        transform:translate(60%,0%);
    }
    .coffee-type{
        justify-content:center;
        align-items:center;
    }       
    .drk_coffee_paracontainer{
        background:#122341;
        height:auto;
        padding: 2rem 0 2rem 0;
        margin:2rem 0 0 0;
        position:relative;
    }
    .shape-playground-1{
        float: left;
        width: 50%;
        height: 250px;
        margin:0;
        border-radius: 50%;
        display: block;
        shape-outside:circle(39.99% at 128px 139px) content-box;
    }
    .shape-playground-2{
        display: block;
        float: right;
        width: 47%;
        height: 250px;
        margin:0;
        shape-outside: circle(49.44% at 211px 143px) content-box;
    }
    .dark-hot-coffees-para{
        text-align: justify;
        padding-right: 2rem;
        font-size:1.3rem;
        width: 100%;
        position:static;
        transform:translate(0);
    }
    .cold-coffee-type{        
        display:table-header-group;
        text-align: center;      
    }
    .cold-coffee-type .italic-title{
        margin-bottom:2rem;
    }
    .cold-coffee-type .order-btn{
        margin:0 auto;
    }    
    .cold_coffee_paracontainer, .hot_coffee_paracontainer{
        background:#122341;
        height:auto;
        padding: 2rem 0 2rem 0;
        margin:2rem 0 0 0;
        width:100%;
        order:2;
    }
    .cold_coffee_paracontainer{
        display:table-footer-group;

    }
    .cold-coffees-para{
        font-size: 1.3rem;
        width: 100%;
        padding-left: 2rem;      
        position: static;
        transform: translate(0);
        text-align: justify;
    }    
    .hot_coffee_paracontainer{
        width: 100%;
    } 
    .coffee-page  .row .cold_coffee_paracontainer, .coffee-page .row .cold-coffee-type {
        position: static;
    }  
    .coffee-page .row .cold-coffee-type{
        transform: translateX(0);
    }  
    .voucher-border-box{
        height:auto;
        margin:5rem 4rem 5rem 4rem;
    }
    .gift-images{
        align-items:center;
    }
    .blue-circle{
        width:275px;
        height:275px;
        margin:2rem 0 0 0;
    }
    .blue-circle h1{
        font-size:7.5rem;
        margin-top:1rem;
    }
    .voucher-desc{
        padding-right:0;
        padding-top:3rem;
    } 
    
    .voucher-desc .italic-title h1{
        font-size:9.5rem;
        margin-bottom:1rem;
    }
    .voucher-desc .paragraph{
        width:92%;
    }
    .cup-of-coffee{
        width:66%;
        height:70px;
        border: 3px solid #df4b0f;
    }
    .cup-of-coffee h1{
        font-size:3.5rem;
        letter-spacing: 3px;
    }
    .about-us-page{
        height:auto;
        margin:2rem 0 1rem 0;
        padding-bottom:2.5rem;
    }
    .about-us-para{
        padding:0 3rem 0 3rem;
        text-align:justify;
    }
    #blog{
        margin-top:2rem;
    }
    .testimonials{
        margin: 0 4rem 0 4rem;
    }
    .customer{
        padding:0;
    }
    .customer h1{
        margin-top:2.2rem;
    }
    .customer p{
        font-weight: normal;
        text-align:justify;    
    }
    .opening-days{
        margin-top:4rem;
    }
    .days-block{
        width:75%;
        margin-bottom: 4rem;
        word-spacing: .5rem;
        height:150px;
    }
    .days-block h1{
        font-size:4rem;
    }
    .branches-part{
        margin: 0 5rem 5rem 5rem;
    }
    .cities{
        margin-bottom:2rem;
    }
    .cities-margin{
        padding:15px 0;
    }
    .city-bubble{
        max-width:180px;
        height:48px;
    }
    
    .city-bubble::after {
        bottom:-17px;
        left:15%;
    }
    .city-bubble h1{
        margin-left:2rem;
        font-size:3rem;
    }
    .city-desc{
        height:auto;
        max-width: 65%;
        padding-top:2rem;
        padding-bottom: 2rem;
    }
    .bottom-part{
        padding-top:1.875rem;
        padding-bottom: 1rem;
        margin-top:5rem;
        height:auto;
    }
    .info_p{
        display:grid;
        grid-auto-flow: column;
    }
    .middle-footer h2, .bottom-footer h2{
        padding-bottom:2rem;
    }
    .bottom-part .row{
        margin:0 4rem 0 4rem;
    }
    .left-footer .heading{
        text-align: center;
        padding-bottom:3rem;
    }
    .social-media{
        letter-spacing:1.8rem;
        right:1.5rem;
        bottom:1rem;
    }
    .footer-navbar{
       display:none;
    }  
}
@media (min-width:577px) and (max-width:627px){
    html{
        font-size:55%;
        width:100%;
        overflow-x: hidden;
    }
    .logo{
        display:none;
    }
    .italic-title h1{
        font-size:9rem;
    }

    .order-btn h1{
        font-size:3.2rem;
    }
    .homepage{
        background: linear-gradient(to bottom, hsla(0, 54%, 27%, 0.2), hsla(40, 1%, 55%, 0.1)), url('../img/homepage_background.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        height:auto;
    }
    .paragraph{
        width:100%;
        text-align:left;
    }
    .paragraph p{
        font-weight: 400;
    }
    .pg-content{
        margin-top:0;
        position:static;
        padding-bottom: 5rem;
        padding-top:18rem;
        margin-left:4rem;
    }
    .pg-content .italic-title h1{
        text-align:center;
    }
    .navbar{
        position:fixed;
        background:#122341;
        z-index: 10;
        width:100%;
        left:0;
        padding-top:0;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler{
        font-size:2.25rem;
        width:100%;
        text-align:left;
        height:80px;
    }
    .nav-items{
        float:right;
        text-align:right;
    }
    #hamburger_menu{
        line-height:4rem;
        color:white;
    }
    .navbar .top-navbar .nav-items .nav-item{
        font-size:2.5rem;
        letter-spacing:1.12px;
    }
    .navbar .top-navbar .nav-items .nav-item a {
        color: white;
    }
    .quote{
        font-weight: normal;
        line-height: 35px;
    }
    .order-btn{
        width:27%;
        height:40px;
        letter-spacing:.2rem;
    }
    .order-btn h1{
        font-size:2.5rem;
    }
    .coffee-type .italic-title{
        text-align:center;
        margin-bottom:0rem;
    }
    .item{
        display:table;
    }
    .coffee-type .italic-title h1 br, .cold-coffee-type .italic-title h1 br{
        display:none;
    }
    .coffee-page .row{
        margin-left:0;
        padding-top:4rem;
    }
    .coffee_bg{
        display:none;
    }
    .coffee, .cold-coffee-img{
        width:30%;
    }
    .coffee{
        left:0;
        transform:translateX(10%);
    }
    .cold-coffee-img{
        left:50%;
        transform:translate(60%,0%);
    }
    .coffee-type{
        justify-content:center;
        align-items:center;
    }       
    .drk_coffee_paracontainer{
        background:#122341;
        height:auto;
        padding: 2rem 0 2rem 0;
        margin:2rem 0 0rem 0;
        position:relative;
    }
    .shape-playground-1{
        float: left;
        width: 50%;
        height: 250px;
        margin:0;
        border-radius: 50%;
        display: block;
        shape-outside:circle(39.99% at 102px 120px) content-box;
    }
    .shape-playground-2{
        display: block;
        float: right;
        width: 47%;
        height: 250px;
        margin:0;
        shape-outside:  circle(49.44% at 197px 138px);
    }
    .dark-hot-coffees-para{
        text-align: justify;
        padding-right: 2rem;
        font-size:1.3rem;
        width: 100%;
        position:static;
        transform:translate(0);
    }
    .cold-coffee-type{        
        display:table-header-group;
        text-align: center;      
    }
    .cold-coffee-type .italic-title{
        margin-bottom:2rem;
    }
    .cold-coffee-type .order-btn{
        margin:0 auto;
    }    
    .cold_coffee_paracontainer, .hot_coffee_paracontainer{
        background:#122341;
        height:auto;
        padding: 2rem 0 2rem 0;
        margin:2rem 0 0rem 0;
        width:100%;
        order:2;
    }
    .cold_coffee_paracontainer{
        display:table-footer-group;

    }
    .cold-coffees-para{
        font-size: 1.3rem;
        width: 100%;
        padding-left: 2rem;      
        position: static;
        transform: translate(0);
        text-align: justify;
    }    
    .hot_coffee_paracontainer{
        width: 100%;
    } 
    .coffee-page  .row .cold_coffee_paracontainer, .coffee-page .row .cold-coffee-type {
        position: static;
    }  
    .coffee-page .row .cold-coffee-type{
        transform: translateX(0);
    }  
    .voucher-border-box{
        height:auto;
        margin:5rem 4rem 5rem 4rem;
    }
    .gift-images{
        align-items:center;
    }
    .blue-circle{
        width:275px;
        height:275px;
        margin:2rem 0 0 0;
    }
    .blue-circle h1{
        font-size:7.5rem;
        margin-top:1rem;
    }
    .voucher-desc{
        padding-right:0;
        padding-top:3rem;
    } 
    
    .voucher-desc .italic-title h1{
        font-size:9.5rem;
        margin-bottom:1rem;
    }
    .voucher-desc .paragraph{
        width:92%;
    }
    .cup-of-coffee{
        width:66%;
        height:70px;
        border: 3px solid #df4b0f;
    }
    .cup-of-coffee h1{
        font-size:3.5rem;
        letter-spacing: 3px;
    }
    .about-us-page{
        height:auto;
        margin:2rem 0 1rem 0;
        padding-bottom:2.5rem;
    }
    .about-us-para{
        padding:0 3rem 0 3rem;
        text-align:justify;
    }
    #blog{
        margin-top:2rem;
    }
    .testimonials{
        margin: 0 4rem 0 4rem;
    }
    .customer{
        padding:0;
    }
    .customer h1{
        margin-top:2.2rem;
    }
    .customer p{
        font-weight: normal;
        text-align:justify;    
    }
    .opening-days{
        margin-top:4rem;
    }
    .days-block{
        width:75%;
        margin-bottom: 4rem;
        word-spacing: .5rem;
        height:150px;
    }
    .days-block h1{
        font-size:4rem;
    }
    .branches-part{
        margin: 0 5rem 5rem 5rem;
    }
    .cities{
        margin-bottom:2rem;
    }
    .cities-margin{
        padding:15px 0;
    }
    .city-bubble{
        max-width:180px;
        height:48px;
    }
    
    .city-bubble::after {
        bottom:-17px;
        left:15%;
    }
    .city-bubble h1{
        margin-left:2rem;
        font-size:3rem;
    }
    .city-desc{
        height:auto;
        padding-top:2rem;
        padding-bottom: 2rem;
    }
    .bottom-part{
        padding-top:1.875rem;
        padding-bottom: 1rem;
        margin-top:5rem;
        height:auto;
    }
    .info_p{
        display:grid;
        grid-auto-flow: column;
    }
    .middle-footer h2, .bottom-footer h2{
        padding-bottom:2rem;
        margin-top:3rem;
    }
    .bottom-part .row{
        margin:0 4rem 0 4rem;
    }
    .left-footer .heading{
        text-align: center;
        padding-bottom:3rem;
    }
    .social-media{
        letter-spacing:1.8rem;
        right:1.5rem;
        bottom:1rem;
    }
    .footer-navbar{
       display:none;
    }  
}
@media(min-width:431px) and (max-width:576px){
    html{
        font-size:53%;
        width:100%;
        overflow-x: hidden;
    }
    .italic-title h1{
        font-size:7.5rem;
        letter-spacing:.4rem;
    }
        .logo{
            display:none;
        }
     
        .order-btn h1{
            font-size:3.2rem;
        }
        .homepage{
            background: linear-gradient(to bottom, hsla(0, 54%, 27%, 0.2), hsla(40, 1%, 55%, 0.1)), url('../img/homepage_background.png');
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            height:auto;
        }
        .paragraph{
            width:100%;
            text-align:left;
        }
        .paragraph p{
            font-weight: 400;
        }
        .pg-content{
            margin-top:0;
            position:static;
            padding-bottom: 5rem;
            padding-top:18rem;
            margin-left:2.5rem;
        }
        .pg-content .italic-title h1{
            text-align:center;
        }
        .navbar{
            position:fixed;
            background:#122341;
            z-index: 10;
            width:100%;
            left:0;
            padding-top:0;
        }
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
        }
        .navbar-toggler{
            font-size:2.25rem;
            width:100%;
            text-align:left;
            height:80px;
        }
        .nav-items{
            float:right;
            text-align:right;
        }
        #hamburger_menu{
            line-height:4rem;
            color:white;
        }
        .navbar .top-navbar .nav-items .nav-item{
            font-size:2.5rem;
            letter-spacing:1.12px;
        }
        .navbar .top-navbar .nav-items .nav-item a {
            color: white;
        }
        .quote{
            font-weight: normal;
            line-height: 35px;
        }
        .order-btn{
            width:31%;
            height:40px;
            letter-spacing:.15rem;
        }
        .order-btn h1{
            font-size:2.5rem;
        }
        .coffee-type .italic-title{
            text-align:center;
            margin-bottom:0rem;
        }
        .coffee-page .coffee-type .italic-title h1, .cold-coffee-type .italic-title h1 {
            letter-spacing: 1px;
            line-height: 8rem;
            font-size: 9rem;
        }
        .item{
            display:table;
        }
        .coffee-type .italic-title h1 br, .cold-coffee-type .italic-title h1 br{
            display:none;
        }
        .coffee-page .row{
            margin-left:0;
            padding-top:3rem;
        }
        .coffee_bg{
            display:none;
        }
        .coffee, .cold-coffee-img{
            width:33%;
        }
        .coffee{
            left:0;
            transform:translateX(10%);
        }
        .cold-coffee-img{
            left:45%;
            transform:translate(55%,0%);
        }
        .coffee-type{
            justify-content:center;
            align-items:center;
        }       
        .drk_coffee_paracontainer{
            background:#122341;
            height:auto;
            padding: 2rem 0 2rem 0;
            margin:2rem 0 2rem 0;
            position:relative;
        }
        .shape-playground-1{
            float: left;
            width: 46%;
            height: 250px;
            margin:0;
            border-radius: 50%;
            display: block;
            shape-outside:circle(40.81% at 110px 137px) content-box;
        }
        .shape-playground-2{
            display: block;
            float: right;
            width: 47%;
            height: 250px;
            margin:0;
            shape-outside:      circle(45.73% at 146px 139px) content-box;
        }
        .dark-hot-coffees-para{
            text-align: justify;
            padding-right: 2rem;
            font-size:1.3rem;
            width: 100%;
            position:static;
            transform:translate(0);
        }
        .cold-coffee-type{        
            display:table-header-group;
            text-align: center;      
        }
        .cold-coffee-type .italic-title{
            margin-bottom:2rem;
        }
        .cold-coffee-type .order-btn{
            margin:0 auto;
        }    
        .cold_coffee_paracontainer, .hot_coffee_paracontainer{
            background:#122341;
            height:auto;
            padding: 2rem 0 2rem 0;
            margin:2rem 0 2rem 0;
            width:100%;
            order:2;
        }
        .cold_coffee_paracontainer{
            display:table-footer-group;
    
        }
        .cold-coffees-para{
            font-size: 1.3rem;
            width: 100%;
            padding-left: 2rem;      
            position: static;
            transform: translate(0);
            text-align: justify;
        }    
        .hot_coffee_paracontainer{
            width: 100%;
        } 
        .coffee-page  .row .cold_coffee_paracontainer, .coffee-page .row .cold-coffee-type {
            position: static;
        }  
        .coffee-page .row .cold-coffee-type{
            transform: translateX(0);
        }  
        .voucher-border-box{
            height:auto;
            margin:4rem 2rem 4rem 2rem;
        }
        .leaf-pic{
            display: none;
        }
        .gift-images{
            align-items:center;
        }
        .blue-circle{
            width:260px;
            height:260px;
            margin:2rem 0 0 0;
        }
        .blue-circle h1{
            font-size:6.5rem;
            margin-top:1rem;
        }
        .voucher-desc{
            padding-right:0;
            padding-top:3rem;
        } 
        
        .voucher-desc .italic-title h1{
            font-size:7.5rem;
            margin-bottom:0rem;
        }
        .voucher-desc .paragraph{
            width:97%;
            text-align:center;
        }
        .cup-of-coffee{
            width:60%;
            height:60px;
            border: 3px solid #df4b0f;
        }
        .cup-of-coffee h1{
            font-size:2.5rem;
            letter-spacing: 2px;
        }
        .about-us-page{
            height:auto;
            margin:2rem 0 1rem 0;
            padding-bottom:2.5rem;
        }
        .about-us-para{
            padding:0 3rem 0 3rem;
            text-align:justify;
        }
        #blog{
            margin-top:2rem;
        }
        .testimonials{
            margin: 0 4rem 0 4rem;
        }
        .testimonials .row{
            padding:20px;
            align-items: center;
        }
        .customer{
            padding:0;
        }
        .customer h1{
            margin-top:2.2rem;
        }
        .customer p{
            font-weight: normal;
            text-align:justify;    
        }
        .opening-days{
            margin-top:4rem;
        }
        .days-block{
            width:78%;
            margin-bottom: 4rem;
            word-spacing: .5rem;
            height:150px;
        }
        .days-block h1{
            font-size:3rem;
        }
        .branches-part{
            margin:0 5rem 5rem 5rem;
        }
        .cities{
            margin-bottom:2rem;
        }
        .cities-margin{
            padding:0 0 10px 0;
        }
        .city-bubble{
            max-width:180px;
            height:48px;
        }
        
        .city-bubble::after {
            bottom:-17px;
            left:15%;
        }
        .city-bubble h1{
            margin-left:2rem;
            font-size:3rem;
        }
        .city-desc{
            height:auto;
            padding-top:2rem;
            padding-bottom: 2rem;
        }
        .bottom-part{
            padding-top:1.875rem;
            padding-bottom: 1rem;
            margin-top:5rem;
            height:auto;
        }
        .info_p{
            display:grid;
            grid-auto-flow: column;
        }
        .middle-footer h2, .bottom-footer h2{
            padding-bottom:1rem;
            margin-top:2rem;
        }
        .bottom-part .row{
            margin:0 4rem 0 4rem;
        }
        .left-footer .heading{
            text-align: center;
            padding-bottom:3rem;
        }
        .social-media{
            letter-spacing:1.8rem;
            right:1.5rem;
            bottom:1rem;
        }
        .footer-navbar{
           display:none;
        }  
}

@media(min-width:328px) and (max-width:430px){
    html{
        font-size:45%;
        width:100%;
        overflow-x: hidden;
    }
    .italic-title h1{
        font-size:6.5rem;
        letter-spacing:.4rem;
    }
    .logo{
        display:none;
    }
    .homepage{
        background: linear-gradient(to bottom, hsla(0, 54%, 27%, 0.2), hsla(40, 1%, 55%, 0.1)), url('../img/homepage_background.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        height:auto;
    }
    .paragraph{
        width:100%;
        text-align:left;
    }
    .paragraph p{
        font-weight: 400;
    }
    .pg-content{
        margin-top:0;
        position:static;
        padding-bottom: 5rem;
        padding-top:18rem;
        margin-left:2.5rem;
    }
    .pg-content .italic-title h1{
        text-align:center;
        font-size:15.3rem;
        margin-bottom: 2rem;
    }
    .navbar{
        position:fixed;
        background:#122341;
        z-index: 10;
        width:100%;
        left:0;
        padding-top:0;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler{
        font-size:2.25rem;
        width:100%;
        text-align:left;
        height:80px;
    }
    .nav-items{
        float:right;
        text-align:right;
    }
    #hamburger_menu{
        line-height:4rem;
        color:white;
    }
    .navbar .top-navbar .nav-items .nav-item{
        font-size:2.5rem;
        letter-spacing:1.12px;
    }
    .navbar .top-navbar .nav-items .nav-item a {
        color: white;
    }
    .quote{
        font-weight: normal;
        line-height: 35px;
    }
    .order-btn{
        width:33%;
        height:40px;
        letter-spacing:.15rem;
    }
    .order-btn h1{
        font-size:2.5rem;
    }
    .coffee-type .italic-title{
        text-align:center;
        margin-bottom:0rem;
        margin-top:2rem;
    }
    .coffee-page .coffee-type .italic-title h1, .cold-coffee-type .italic-title h1 {
        letter-spacing: 1px;
        line-height: 8rem;
        font-size: 8rem;
    }
    .item{
        display:table;
    }
    .coffee-type .italic-title h1 br, .cold-coffee-type .italic-title h1 br{
        display:none;
    }
    .coffee-page .row{
        margin-left:0;
        padding-top:3rem;
    }
    .coffee_bg{
        display:none;
    }
    .coffee, .cold-coffee-img{
        width:35%;
    }
    .coffee{
        left:0;
        transform:translateX(10%);
    }
    .cold-coffee-img{
        left:45%;
        transform:translate(55%,0%);
    }
    .coffee-type{
        justify-content:center;
        align-items:center;
    }       
    .drk_coffee_paracontainer{
        background:#122341;
        height:auto;
        padding: 2rem 0 2rem 0;
        margin:2rem 0 2rem 0;
        position:relative;
    }
    .shape-playground-1{
        float: left;
        width: 46%;
        height: 170px;
        margin:0;
        border-radius: 50%;
        display: block;
        shape-outside:circle(47.94% at 76px 89px) content-box;
    }
    .shape-playground-2{
        display: block;
        float: right;
        width: 47%;
        height: 170px;
        margin:0;
        shape-outside:circle(45.73% at 102px 99px) content-box;
    }
    .dark-hot-coffees-para{
        text-align: justify;
        padding-right: 2rem;
        font-size:1.3rem;
        line-height: 2.5rem;
        width: 100%;
        position:static;
        transform:translate(0);
    }
    .cold-coffee-type{        
        display:table-header-group;
        text-align: center;      
    }
    .cold-coffee-type .italic-title{
        margin-bottom:2rem;
    }
    .cold-coffee-type .order-btn{
        margin:0 auto;
    }    
    .cold_coffee_paracontainer, .hot_coffee_paracontainer{
        background:#122341;
        height:auto;
        padding: 2rem 0 2rem 0;
        margin:2rem 0 2rem 0;
        width:100%;
        order:2;
    }
    .cold_coffee_paracontainer{
        display:table-footer-group;

    }
    .cold-coffees-para{
        font-size: 1.3rem;
        width: 100%;
        line-height: 2.5rem;
        padding-left: 2rem;      
        position: static;
        transform: translate(0);
        text-align: justify;
    }    
    .hot_coffee_paracontainer{
        width: 100%;
    } 
    .coffee-page  .row .cold_coffee_paracontainer, .coffee-page .row .cold-coffee-type {
        position: static;
    }  
    .coffee-page .row .cold-coffee-type{
        transform: translateX(0);
    }  
    .voucher-border-box{
        height:auto;
        margin:4rem 2rem 4rem 2rem;
    }
    .leaf-pic{
        display: none;
    }
    .gift-images{
        align-items:center;
    }
    .blue-circle{
        width:245px;
        height:245px;
        margin:2rem 0 0 0;
    }
    .blue-circle h1{
        font-size:6.5rem;
        margin-top:1rem;
    }
    .voucher-desc{
        padding-right:0;
        padding-top:3rem;
    } 
    
    .voucher-desc .italic-title h1{
        font-size:7.5rem;
        margin-bottom:0rem;
    }
    .voucher-desc .paragraph{
        width:95%;
        text-align:center;
    }
    .cup-of-coffee{
        width:55%;
        height:45px;
        border: 3px solid #df4b0f;
    }
    .cup-of-coffee h1{
        font-size:2.5rem;
        letter-spacing: 2px;
    }
    .about-us-page{
        height:auto;
        margin:2rem 0 1rem 0;
        padding-bottom:2.5rem;
    }
    .about-us-para{
        padding:0 3rem 0 3rem;
        text-align:justify;
    }
    #blog{
        margin-top:2rem;
    }
    #blog .italic-title {
        padding: 0 8px;
    }
    .testimonials{
        margin: 0 4rem 0 4rem;
    }
    .testimonials .row{
        padding:15px;
        align-items: center;
    }
    .customer{
        padding:0;
    }
    .customer h1{
        margin-top:2.2rem;
    }
    .customer p{
        font-weight: normal;
        text-align:justify;    
    }
    .opening-days{
        margin-top:4rem;
    }
    .days-block{
        width:78%;
        margin-bottom: 4rem;
        word-spacing: .5rem;
        height:150px;
    }
    .days-block h1{
        font-size:2.5rem;
    }
    .branches-part{
        margin:0 4rem 5rem 4rem;
    }
    .cities{
        margin-bottom:2rem;
    }
    .cities-margin{
        padding:0 0 10px 0;
    }
    .city-bubble{
        max-width:180px;
        height:48px;
    }
    
    .city-bubble::after {
        bottom:-17px;
        left:15%;
    }
    .city-bubble h1{
        margin-left:2rem;
        font-size:3rem;
    }
    .city-desc{
        height:auto;
        padding-top:2rem;
        padding-bottom: 2rem;
    }
    .bottom-part{
        padding-top:1.875rem;
        padding-bottom: 1rem;
        margin-top:5rem;
        height:auto;
    }
    .info_p{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        
    }
    .info_p p{
        padding-right: 3rem;
    }
    .middle-footer h2, .bottom-footer h2{
        padding-bottom:1rem;
        margin-top:3rem;
    }
    .bottom-part .row{
        margin:0 4rem 0 4rem;
    }
    .left-footer .heading{
        text-align: center;
        padding-bottom:3rem;
        padding-top:3rem;
    }
    .social-media{
        letter-spacing:1rem;
        right:1.5rem;
        bottom:1rem;
    }
    .footer-navbar{
        display:none;
    } 
}
@media (max-width:327px){
    html{
        font-size:45%;
        width:100%;
        overflow-x: hidden;
    }
    .italic-title h1{
        font-size:6rem;
        letter-spacing:.2rem;
    }
    html{
        font-size:53%;
        width:100%;
        overflow-x: hidden;
    }
    .pg-content .italic-title h1 {
        text-align: center;
        font-size: 11rem;
        margin-bottom: 2rem;
    }
    .italic-title h1{
        font-size:6rem;
        letter-spacing:.4rem;
    }
        .logo{
            display:none;
        }
     
        .order-btn h1{
            font-size:3.2rem;
        }
        .homepage{
            background: linear-gradient(to bottom, hsla(0, 54%, 27%, 0.2), hsla(40, 1%, 55%, 0.1)), url('../img/homepage_background.png');
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            height:auto;
        }
        .paragraph{
            width:100%;
            text-align:left;
            margin: 2.5rem 0 2.5rem 0;
        }
        .paragraph p{
            font-weight: 400;
        }
        .pg-content{
            margin-top:0;
            position:static;
            padding-bottom: 5rem;
            padding-top:15rem;
            margin-left:1.5rem;
        }
        .pg-content .italic-title h1{
            text-align:center;
        }
        .navbar{
            position:fixed;
            background:#122341;
            z-index: 10;
            width:100%;
            left:0;
            padding-top:0;
        }
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
        }
        .navbar-toggler{
            font-size:2.25rem;
            width:100%;
            text-align:left;
            height:80px;
        }
        .nav-items{
            float:right;
            text-align:right;
        }
        #hamburger_menu{
            line-height:4rem;
            color:white;
        }
        .navbar .top-navbar .nav-items .nav-item{
            font-size:2.5rem;
            letter-spacing:1.12px;
        }
        .navbar .top-navbar .nav-items .nav-item a {
            color: white;
        }
        .quote{
            font-weight: normal;
            line-height: 35px;
        }
        .order-btn{
            width:38%;
            height:37px;
            letter-spacing:.15rem;
        }
        .order-btn h1{
            font-size:2rem;
        }
        .coffee-type .italic-title{
            text-align:center;
            margin-bottom:0rem;
        }
        .coffee-page .coffee-type .italic-title h1, .cold-coffee-type .italic-title h1 {
            letter-spacing: 1px;
            line-height: 8rem;
            font-size: 6rem;
            margin-bottom:2rem;
        }
        .item{
            display:table;
        }
        .coffee-type .italic-title h1 br, .cold-coffee-type .italic-title h1 br{
            display:none;
        }
        .coffee-page .row{
            margin-left:0;
            padding-top:2rem;
        }
        .coffee_bg{
            display:none;
        }
        .coffee, .cold-coffee-img{
            width:36%;
        }
        .coffee{
            left:0;
            transform:translateX(10%);
        }
        .cold-coffee-img{
            left:45%;
            transform:translate(55%,0%);
        }
        .coffee-type{
            justify-content:center;
            align-items:center;
        }       
        .drk_coffee_paracontainer{
            background:#122341;
            height:auto;
            padding: 2rem 0 2rem 0;
            margin:2rem 0 2rem 0;
            position:relative;
        }
        .shape-playground-1{
            float: left;
            width: 46%;
            height: 219px;
            margin:0;
            border-radius: 50%;
            display: block;
            shape-outside:circle(40.81% at 58px 127px) content-box;
        }
        .shape-playground-2{
            display: block;
            float: right;
            width: 47%;
            height: 219px;
            margin:0;
            shape-outside:circle(42.84% at 85px 134px) content-box;
        }
        .dark-hot-coffees-para{
            text-align: justify;
            padding-right: 2rem;
            font-size:1.3rem;
            line-height:2.5rem;
            width: 100%;
            position:static;
            transform:translate(0);
        }
        .cold-coffee-type{        
            display:table-header-group;
            text-align: center;      
        }
        .cold-coffee-type .italic-title{
            margin-bottom:2rem;
        }
        .cold-coffee-type .order-btn{
            margin:0 auto;
        }    
        .cold_coffee_paracontainer, .hot_coffee_paracontainer{
            background:#122341;
            height:auto;
            padding: 2rem 0 2rem 0;
            margin:2rem 0 2rem 0;
            width:100%;
            order:2;
        }
        .cold_coffee_paracontainer{
            display:table-footer-group;
    
        }
        .cold-coffees-para{
            font-size: 1.3rem;
            width: 100%;
            line-height:2.5rem;
            padding-left: 2rem;      
            position: static;
            transform: translate(0);
            text-align: justify;
        }    
        .hot_coffee_paracontainer{
            width: 100%;
        } 
        .coffee-page  .row .cold_coffee_paracontainer, .coffee-page .row .cold-coffee-type {
            position: static;
        }  
        .coffee-page .row .cold-coffee-type{
            transform: translateX(0);
        }  
        .leaf-pic{
            display: none;
        }
        .voucher-border-box{
            height:auto;
            margin:4rem 2rem 4rem 2rem;
        }
        .gift-images{
            align-items:center;
        }
        .blue-circle{
            width:200px;
            height:200px;
            margin:2rem 0 0 0;
        }
        .blue-circle h1{
            font-size:5rem;
            margin-top:1rem;
        }
        .voucher-desc{
            padding-right:0;
            padding-top:3rem;
        } 
        
        .voucher-desc .italic-title h1{
            font-size:4.5rem;
            margin-bottom:0rem;
        }
        .voucher-desc .paragraph{
            width:92%;
            text-align:center;
        }
        .cup-of-coffee{
            width:60%;
            height:43px;
            border: 3px solid #df4b0f;
        }
        .cup-of-coffee h1{
            font-size:1.5rem;
            letter-spacing: 1.5px;
        }
        .about-us-page{
            height:auto;
            margin:2rem 0 1rem 0;
            padding-bottom:2.5rem;
        }
        .about-us-para{
            padding:0 3rem 0 3rem;
            text-align:justify;
            font-size:2rem;
            line-height:2.5rem;
        }
        #blog{
            margin-top:2rem;
        }
        #blog .italic-title {
            padding: 0 8px;
        }
        .testimonials{
            margin: 2rem;
        }
        .testimonials .row{
            padding:15px;
            align-items: center;
        }
        .customer{
            padding:0;
        }
        .customer h1{
            font-size:4rem;
            margin-top:2.2rem;
        }
        .customer p{
            font-size:1.5rem;
            font-weight: normal;
            text-align:justify;    
        }
        .opening-days{
            margin-top:4rem;
        }
        .days-block{
            width:78%;
            margin-bottom: 4rem;
            word-spacing: .5rem;
            height:120px;
        }
        .days-block h1{
            font-size:1.5rem;
        }
        .branches-part{
            margin:0 3rem 5rem 3rem;
        }
        .cities{
            margin-bottom:2rem;
        }
        .cities-margin{
            padding:0 0 10px 0;
        }
        .city-bubble{
            max-width:180px;
            height:48px;
        }
        
        .city-bubble::after {
            bottom:-17px;
            left:15%;
        }
        .city-bubble h1{
            margin-left:2rem;
            font-size:3rem;
        }
        .city-desc{
            height:auto;
            padding-top:2rem;
            padding-bottom: 2rem;
        }
        .bottom-part{
            padding-top:1.875rem;
            padding-bottom: 1rem;
            margin-top:5rem;
            height:auto;
        }
        .info_p{
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            
        }
        .info_p p{
            padding-right: 3rem;
        }
        .middle-footer h2, .bottom-footer h2{
            padding-bottom:2rem;
            margin-top:2rem;
            font-size:3rem;
        }
        .bottom-footer h2{
            margin-bottom:2.5rem;
        }
        .bottom-footer h5{
            display:none;
        }
        .bottom-part .row{
            margin:0 3rem 0 3rem;
        }
        .left-footer .heading{
            text-align: center;
            padding-bottom:3rem;
        }
        .left-footer .img-logo{
            margin-bottom:2rem;
        }
        .social-media{
            letter-spacing:1rem;
            left:3.5rem;
            bottom:1rem;
        }
        .footer-navbar{
           display:none;
        }  
}
