* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: visible;
}
body{
    overflow-x: hidden;
}
a {
    text-decoration: none !important;  
} 
ul li{
    list-style: none !important;
}
html{
    font-size:62.5%;
}
.font-proza-libre{
    font-family: 'Proza Libre', sans-serif;
}
.italic-title{
    margin-bottom:4.8rem;
    font-style:italic;
    font-family: 'Cormorant Garamond', serif;
}
.myriad-pro-font{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}
.italic-title h1{
    color:#000b2c !important;
    letter-spacing: .8rem;
    font-size:10rem ;
    font-weight: bold;
}
.order-btn {
	width:240px;
    height:57px;
    border-radius:14px;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    position: relative;
    border:2px solid #ff4a00;
    background:#ff4a00;	
	cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color:white;
    letter-spacing: 0.2rem;
}
.order-btn h1{
    font-weight:500;
    font-size:3.3rem;
    margin-bottom:0;
}
.order-btn::before,
.order-btn::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
.btn4 {
  overflow: hidden;
}
.btn4:after {
  left: -100%;
  clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
  background-color: white;
  transition: all 300ms ease;
}
.btn4:hover::after {
  left: 100%;
}

.img-logo{
    width:50px;
    height:50px;
    margin-right:1rem;
}
.logo{
    float:right;
    margin-right:20rem;    
}
.homepage{
    background-image: url('../img/homepage_background.png');
    background-size: cover;
    background-repeat:no-repeat;
    overflow: hidden;
    background-position:right; 
    /* height:100%; */
}
.navbar, .logo{
    padding-top:13rem;
}
.nav-items{
    float:left;
}
.top-navbar{
    margin-left:12rem;
    word-spacing: 20rem;
}
.navbar-collapse .top-navbar .nav-items .nav-item{
    display: inline-block;    
    padding-right: 6.5rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: capitalize; 
    font-size: 2.5rem; 
    line-height: 61px;
    letter-spacing:1px;
}
.navbar .top-navbar .nav-items .nav-item a{
    color:#000b2c;
    word-spacing:20rem !important;
}
.navbar .nav-items .nav-item a:hover{
    border-bottom:3px solid #ff4900;
    text-decoration: underline;   
}
.heading{
    color:#ffffff;
    font-size: 2.7rem;
    letter-spacing:1px;
    color:#fcf8f5;
    font-weight: 500;
}
.pg-content{
    margin-top:7rem;
    margin-left:10rem;
    padding-bottom: 19.5rem;
    
}
.pg-content .coffee-type h1{
    font-size:20.3rem ;
    font-weight: 500;
    letter-spacing:1px;
    margin-bottom:2rem;
}
.quote{
    color:#ff4b00;
    font-family: 'Roboto', sans-serif;
    font-size: 3.328rem;
    margin-bottom:3rem;
    letter-spacing:2px;
    line-height:8px;
    font-weight:300;
}
.paragraph{
    width:455px;
    margin:3.5rem 0 3.5rem 0;
}
.paragraph p{
    font-family: 'Roboto', sans-serif;
    font-size:1.8rem;
    letter-spacing:1px;
    line-height:2.4rem;
    font-style:normal;
    font-weight:300;
    color:#122341;
}
.coffee-page .row{
    margin-left:12rem;
}
.coffee-page{
    position: relative;  
}
.coffee-page .coffee-type .italic-title h1, .cold-coffee-type .italic-title h1{
    letter-spacing:1px;
    line-height:11rem;
    font-size:12rem;
    font-weight:500;
    margin-bottom:3rem;
}
.coffee, .cold-coffee-img{
    position: absolute;
    z-index:3;
    top:50%;
    left:50%;
    transform: translate(-45%,-50%);
}  
.coffee-type{
    display:flex;
    flex-direction: column;
    justify-content:center;
    font-style: italic;    
}
.cold-coffee-type{
    text-align:right;
    display:flex;
    flex-direction: column;
}
.cold-coffee-type .order-btn{
    margin-left: auto;
}
.coffee-page .row .cold_coffee_paracontainer, .coffee-page  .row .cold-coffee-type{
    top:25%;
    position:absolute;
}
.coffee-page  .row .cold-coffee-type{
    right:0;
    transform: translateX(-10rem);
}
.drk_coffee_paracontainer{
    position: relative;
}
.drk_coffee_paracontainer img{
    height:660px;   
    min-width:61.5vw;
} 
.cold_coffee_paracontainer_img img{
    width:60.5vw ;
    height:660px;
    max-width:62.3vw;
}
 .hot_coffee_paracontainer{
    position: relative;
    width:50%;
}
.hot_coffee_paracontainer img{
    width:53.5vw;
    height:660px;   
    max-width:54vw;
}
 .dark-hot-coffees-para{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.7rem; 
    line-height: 3rem;
    font-weight: 500;
    letter-spacing:1px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:right;
    padding-left: 2rem;
    margin-right:10rem;
    right:0;
    width:500px;
    height:auto;
    color:#ffffff;    
}
.shape-playground-1 {
    display:none;
}
.shape-playground-2{
    display:none;
}
.cold-coffees-para{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 1.7rem;
    line-height:3rem;
    font-weight: 500;
    letter-spacing:1px; 
    padding-right: 2rem;
    text-align: left;
    width:466px;
    height:auto;
    color:#ffffff;
}
.gift-voucher-page{
    border-top:2px solid #122341;
    border-bottom:2px solid #122341;
}
.voucher-border-box{
    border:13px solid #122341;
    margin:5rem 10rem 5rem 12rem;
    height:550px;    
}
.gift-images{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.blue-circle{
    position:relative;
    float:left; 
    width:358px;
    height:358px;
    border-radius:50%;
    background: #122341;
    border: 13px solid #ff4a00;
    flex-direction: column;
    align-items:center;
    display:flex;
    justify-content: center;
    color:white;
    margin:7rem 0 0 7rem;
}
.blue-circle h1{
    font-size:9rem;
    margin-bottom: 0;
    margin-top: 3rem;    
}
.leaf-pic{
    position:absolute;
    z-index: 1;
    top:50%;
    left:50%;
    transform:translate(85%,45%);    
}
.voucher-desc{
    color:#122341;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding-top:5rem;
    padding-right: 3rem;
    justify-content: center;
    text-align: center;
}
.voucher-desc .italic-title h1{
    font-size:12rem;
    font-weight:400;   
    letter-spacing:1px;
}
.voucher-desc .paragraph p{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size:1.7rem;
    line-height:2.5rem;
    letter-spacing:.5px;
    font-weight:500;
}
.cup-of-coffee{
    display:grid;
    justify-content: center;
    align-items:center;
    width:455px;
    height:81px;
    border: 4px solid #df4b0f;
    background:#f2b59c;   
    border-radius:14px;
    cursor: pointer;
    transition:.3s all;
}
.cup-of-coffee h1{
    font-size:5rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom:0;
    color:#122341;
    font-family: "Roboto";
}
.cup-of-coffee:hover{
    background:white;
}
.about-us-page{
    height:auto;
    background:#f6f6f4;
    margin: 7rem 10rem 0 12rem;
    text-align:center; 
    padding-bottom:5rem;  
}
.about-us-page .italic-title h1{
    padding-top:3rem;
    font-style: normal;
}
.about-us-para{
    padding:0 12rem 3rem 12rem;
    font-size: 2rem;
    line-height:2.8rem;
    color:#122341;
    letter-spacing:1px;
}
.about-us-para p{
    margin-bottom:0;
}
#blog{
    margin-top:7rem;
}
#blog .italic-title h1{
    font-style: normal;
}
.testimonials{
    background:#000b2c;
    margin: 0 10rem 0 12rem;
    color:white;
}
.testimonials .row{
    padding: 30px;
    align-items: center;
}
.customer{
    padding:3rem;
    font-family: 'Cormorant Garamond', serif;
}
.customer h1{
    font-weight:bolder;
    font-size:5rem;
    margin-bottom: 2rem;
}
.customer p{
    font-weight:500;
    font-size:2rem;
    letter-spacing:1px;
    line-height:1.2;


}
.opening-days{
    margin-top:7rem;
    align-items: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.opening-days .italic-title h1{
    font-style:normal;
}
.days-block{
    width:840px;
    height:260px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background: #233e6a;
    margin-bottom: 7.6rem;
    color:white;
    transition:.3s all;
    box-shadow: 3px 3px 3px 3px #a09f9f;    
}
.days-block h1{
    letter-spacing:0.3rem;
    word-spacing: .5rem;
    font-size:5rem;
}
.branches-part{
   margin:0 10rem 0 12rem;
}
.branches-part .italic-title h1{
    font-style:normal;
}
.branches-part .row{
    justify-content:center;
}
.cities{
    background:#233e6a;
    height:auto;
    padding-bottom: 3.2rem;
    cursor:pointer;
    transition:.3s all;   
}
.cities-margin{
    padding:10px 50px;
}
.cities:hover{
    box-shadow: 3px 3px 3px 3px #a09f9f;
    transform:translate(-3px,-3px);
}
.cities img{
    margin-bottom:1.92rem;
}
.city-desc{
    background:#000b2c;
    color:white;
    font-size:1.46rem;
    max-width:325px;
    line-height:2rem;
    font-weight: 300;
    width:90%;
    height:auto;
    font-family: 'Roboto', sans-serif; 
    margin:0 auto;
    text-align:center;
    letter-spacing:1px;
    padding:4rem 2rem 4rem 2rem;
}
.city-bubble{
    position: relative;
    background: #ff4a00;
    color: #FFFFFF;
    display:grid;
    font-family: 'Roboto', sans-serif; 
    align-items:center;
    max-width: 240px;
    height: 58px;
    right:2rem;
    border-radius:15px 11px 11px 15px;
    margin-bottom:2.4rem;
}
.city-bubble h1{
    font-size:3.3rem;
    text-align:left;
    margin-left:3rem;
    line-height:0;
    margin-bottom:0;
}
.city-bubble::after{
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    z-index: 1;
    border-style: solid;
    border-color: #ff4a00 transparent;
    border-width: 20px 16px 0;
    border-radius: 0 0 0 50%;
    bottom: -15px;
    left: 9%;
    margin-left: -18px;
}
.bottom-part{
    padding-top:11rem;
    padding-bottom: 15rem;
    margin-top:13rem;
    background-image:linear-gradient(to bottom, #122341,  #020e2e);
    height:auto;
    position: relative;
}
.bottom-part .row{
    margin:0 10rem 0 12rem;
}
.left-footer .img-logo{
    margin-left:0;
    width:70px;
    height:80px;
    margin-right:2rem;
}
.left-footer h1{
    font-size:4rem;
    letter-spacing:1px;
    font-weight:bold;
}
.bottom-footer{
    text-align:justify;
}
.social-media {
    position:absolute; 
    bottom:1rem; 
    font-size:2.5rem;
    letter-spacing:2.2rem;
}
.social-media a{
    color: #ff4c00;
}
.social-media a:hover{
    color:white;
}
.footer-navbar{
    word-spacing:7.5rem;
    position:absolute;
    bottom:1rem;
}
.middle-footer h2, .bottom-footer h2{
    font-size:3.3rem;
    color:white;
    letter-spacing:1px;
    font-weight: bold;   
}
.middle-footer p , .bottom-footer h5, .footer-navbar a{
    font-size:2.2rem;
    color:white;
    font-weight:500;
}
.middle-footer p:hover{
    color: #ff4c00;
}
.footer-navbar a:hover{
    color: #ff4c00;
}